#root,
html,
body {
  height: 100vh;
}

body {
  margin: 0;

  background-color: #fff;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #fff;
}
